<%= form_with(model: [@hotel, @room]) do |form| %>
  <div class="mb-3">
    <%= form.label :number %>
    <%= form.text_field :number, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :room_type %>
    <%= form.text_field :room_type, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-success" %>
<% end %>