<h1>Hotels#index</h1>
<p>Find me in app/views/hotels/index.html.erb</p>

<%= link_to "Add New Hotel", new_hotel_path, class: "btn btn-primary mb-3" %>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @hotels.each do |hotel| %>
            <tr>
                <td><%= hotel.name %></td>
                <td><%= hotel.location %></td>
                <td><%= hotel.rating %></td>
                <td>
                    <%= link_to "Show", hotel, class: "btn btn-info btn-sm" %>
                    <%= link_to "Rooms", hotel_rooms_path(hotel), class: "btn btn-success btn-sm" %>
                    <%= link_to "Edit", edit_hotel_path(hotel), class: "btn btn-warning btn-sm" %>
                    <%= link_to "Delete", hotel, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>